body{
  background-color: honeydew;
}
h1{
    background-color: rgb(210, 245, 210);
    color: rgb(85, 5, 61);
    font-size:xx-large;
   
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
p{
  background-color: rgb(2, 85, 67);
  font-size: large ;
  color:floralwhite;  
text-align: center;
padding: 5px;

}
ol {
  background-color: rgb(151, 179, 116);
  font-size: large ;
  color:rgb(85, 5, 61);  
text-align: center;
padding: 5px;


}

ul{
  list-style-type: circle;
  background-color:   rgb(188, 201, 172);
  font-size: large ;
  color:rgb(85, 5, 61);  
text-align: center;
padding: 5px;

}

